In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('bank.csv',names=['age','job','marital','education','default','balance',
                     'housing','loan','contact','day','month','duration','campaign','pdays','previous','poutcome','y'])
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [3]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
# df['age'].nunique()

df['age'] = le.fit_transform(df['age'])
df['job'] = le.fit_transform(df['job'])
df['marital'] = le.fit_transform(df['marital'])
df['education'] = le.fit_transform(df['education'])
df['default'] = le.fit_transform(df['default'])
df['balance'] = le.fit_transform(df['balance'])
df['housing'] = le.fit_transform(df['housing'])
df['loan'] = le.fit_transform(df['loan'])
df['contact'] = le.fit_transform(df['contact'])
df['day'] = le.fit_transform(df['day'])
df['month'] = le.fit_transform(df['month'])
df['duration'] = le.fit_transform(df['duration'])
df['campaign'] = le.fit_transform(df['campaign'])
df['pdays'] = le.fit_transform(df['pdays'])
df['previous'] = le.fit_transform(df['previous'])
df['poutcome'] = le.fit_transform(df['poutcome'])
df['y'] = le.fit_transform(df['y'])
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,40,4,1,2,0,3036,1,0,2,4,8,261,0,0,0,3,0
1,26,9,2,1,0,945,1,0,2,4,8,151,0,0,0,3,0
2,15,2,1,1,0,918,1,1,2,4,8,76,0,0,0,3,0
3,29,1,1,3,0,2420,1,0,2,4,8,92,0,0,0,3,0
4,15,11,2,3,0,917,0,0,2,4,8,198,0,0,0,3,0

In [4]:
df.shape

(45211, 17)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  int32
 2   marital    45211 non-null  int32
 3   education  45211 non-null  int32
 4   default    45211 non-null  int32
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  int32
 7   loan       45211 non-null  int32
 8   contact    45211 non-null  int32
 9   day        45211 non-null  int64
 10  month      45211 non-null  int32
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  int32
 16  y          45211 non-null  int32
dtypes: int32(10), int64(7)
memory usage: 4.1 MB

In [6]:
x = df.drop('y', axis=1)

In [7]:
x.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,40,4,1,2,0,3036,1,0,2,4,8,261,0,0,0,3
1,26,9,2,1,0,945,1,0,2,4,8,151,0,0,0,3
2,15,2,1,1,0,918,1,1,2,4,8,76,0,0,0,3
3,29,1,1,3,0,2420,1,0,2,4,8,92,0,0,0,3
4,15,11,2,3,0,917,0,0,2,4,8,198,0,0,0,3

In [8]:
y = df['y']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: y, dtype: int32

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [10]:
X_test.shape

(13564, 16)

In [11]:
y_test.shape

(13564,)

In [12]:
from sklearn.ensemble import RandomForestClassifier
# n_estimators - how many decision trees
model = RandomForestClassifier(n_estimators=500)
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=500)

In [13]:
pred = model.predict(X_test)
pred

array([0, 0, 0, ..., 0, 0, 0])

In [14]:
y_test

20238    0
30102    0
14533    0
33874    0
3088     0
        ..
42728    0
31557    0
26631    0
29299    0
11568    0
Name: y, Length: 13564, dtype: int32

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.908876437629018

In [16]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred)

array([[11634,   338],
       [  898,   694]], dtype=int64)

In [17]:
df['y'].value_counts()

0    39922
1     5289
Name: y, dtype: int64